@charset "utf-8";
/* CSS Document */
/*CSS reset*/
/* line 4, ../scss/base.scss */
html {
  color: #000;
  background: #FFF;
}

/* line 5, ../scss/base.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../scss/base.scss */
fieldset, img {
  border: 0;
}

/* line 8, ../scss/base.scss */
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}

/* line 9, ../scss/base.scss */
del, ins {
  text-decoration: none;
}

/* line 10, ../scss/base.scss */
li {
  list-style: none;
}

/* line 11, ../scss/base.scss */
caption, th {
  text-align: left;
}

/* line 12, ../scss/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 13, ../scss/base.scss */
q:before, q:after {
  content: '';
}

/* line 14, ../scss/base.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 15, ../scss/base.scss */
sup {
  vertical-align: baseline;
}

/* line 16, ../scss/base.scss */
sub {
  vertical-align: baseline;
}

/* line 17, ../scss/base.scss */
legend {
  display: none;
}

/* line 18, ../scss/base.scss */
input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* line 19, ../scss/base.scss */
input, button, textarea, select {
  *font-size: 100%;
}

/* line 20, ../scss/base.scss */
section, article, aside {
  display: block;
}

/* line 21, ../scss/base.scss */
a {
  text-decoration: none;
}

/* 没访问过的链接样式 */
/* 访问过的链接样式 */
/* 鼠标进入链接区域的链接样式 */
/* 点击链接时的链接样式 */
/*文字排版*/
/* line 28, ../scss/base.scss */
.f12 {
  font-size: 12px;
}

/* line 29, ../scss/base.scss */
.f13 {
  font-size: 13px;
}

/* line 30, ../scss/base.scss */
.f14 {
  font-size: 14px;
}

/* line 31, ../scss/base.scss */
.f16 {
  font-size: 16px;
}

/* line 32, ../scss/base.scss */
.f20 {
  font-size: 20px;
}

/* line 33, ../scss/base.scss */
.fb {
  font-weight: bold;
}

/* line 34, ../scss/base.scss */
.fn {
  font-weight: normal;
}

/* line 35, ../scss/base.scss */
.t2 {
  text-indent: 2em;
}

/* line 36, ../scss/base.scss */
.lh150 {
  line-height: 150%;
}

/* line 37, ../scss/base.scss */
.lh180 {
  line-height: 180%;
}

/* line 38, ../scss/base.scss */
.lh200 {
  line-height: 200%;
}

/* line 39, ../scss/base.scss */
.unl {
  text-decoration: underline;
}

/* line 40, ../scss/base.scss */
.no_unl {
  text-decoration: none;
}

/* line 41, ../scss/base.scss */
.di {
  display: inline;
}

/* line 42, ../scss/base.scss */
.db {
  display: block;
}

/* line 43, ../scss/base.scss */
.dib {
  display: inline-block;
}

/*定位*/
/* line 46, ../scss/base.scss */
.tl {
  text-align: left;
}

/* line 47, ../scss/base.scss */
.tc {
  text-align: center;
}

/* line 48, ../scss/base.scss */
.tr {
  text-align: right;
}

/* line 49, ../scss/base.scss */
.bc {
  margin: 0 auto;
}

/* line 50, ../scss/base.scss */
.fl {
  float: left;
}

/* line 51, ../scss/base.scss */
.fr {
  float: right;
}

/* line 52, ../scss/base.scss */
.cb {
  clear: both;
}

/* line 53, ../scss/base.scss */
.cl {
  clear: left;
}

/* line 54, ../scss/base.scss */
.cr {
  clear: right;
}

/* line 55, ../scss/base.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 56, ../scss/base.scss */
.vm {
  vertical-align: middle;
}

/* line 57, ../scss/base.scss */
.pr {
  position: relative;
}

/* line 58, ../scss/base.scss */
.pa {
  position: absolute;
}

/* line 59, ../scss/base.scss */
.abs-right {
  position: absolute;
  right: 0;
}

/* line 60, ../scss/base.scss */
.zoom {
  zoom: 1;
}

/* line 61, ../scss/base.scss */
.hidden {
  visibility: hidden;
}

/* line 62, ../scss/base.scss */
.none {
  display: none;
}

/*长度高度*/
/* line 65, ../scss/base.scss */
.w10 {
  width: 10px;
}

/* line 66, ../scss/base.scss */
.w20 {
  width: 20px;
}

/* line 67, ../scss/base.scss */
.w30 {
  width: 30px;
}

/* line 68, ../scss/base.scss */
.w40 {
  width: 40px;
}

/* line 69, ../scss/base.scss */
.w50 {
  width: 50px;
}

/* line 70, ../scss/base.scss */
.w60 {
  width: 60px;
}

/* line 71, ../scss/base.scss */
.w70 {
  width: 70px;
}

/* line 72, ../scss/base.scss */
.w80 {
  width: 80px;
}

/* line 73, ../scss/base.scss */
.w90 {
  width: 90px;
}

/* line 74, ../scss/base.scss */
.w100 {
  width: 100px;
}

/* line 75, ../scss/base.scss */
.w200 {
  width: 200px;
}

/* line 76, ../scss/base.scss */
.w300 {
  width: 300px;
}

/* line 77, ../scss/base.scss */
.w400 {
  width: 400px;
}

/* line 78, ../scss/base.scss */
.w500 {
  width: 500px;
}

/* line 79, ../scss/base.scss */
.w600 {
  width: 600px;
}

/* line 80, ../scss/base.scss */
.w700 {
  width: 700px;
}

/* line 81, ../scss/base.scss */
.w800 {
  width: 800px;
}

/* line 82, ../scss/base.scss */
.w960 {
  width: 960px;
}

/* line 83, ../scss/base.scss */
.w {
  width: 100%;
}

/* line 84, ../scss/base.scss */
.h50 {
  width: 50px;
}

/* line 85, ../scss/base.scss */
.h80 {
  width: 80px;
}

/* line 86, ../scss/base.scss */
.h100 {
  height: 100px;
}

/* line 87, ../scss/base.scss */
.h200 {
  height: 200px;
}

/* line 88, ../scss/base.scss */
.h300 {
  height: 300px;
}

/* line 89, ../scss/base.scss */
.h {
  height: 100%;
}

/*边距*/
/* line 92, ../scss/base.scss */
.m10 {
  margin: 10px;
}

/* line 93, ../scss/base.scss */
.m15 {
  margin: 15px;
}

/* line 94, ../scss/base.scss */
.m30 {
  margin: 30px;
}

/* line 95, ../scss/base.scss */
.mt5 {
  margin-top: 5px;
}

/* line 96, ../scss/base.scss */
.mt10 {
  margin-top: 10px;
}

/* line 97, ../scss/base.scss */
.mt15 {
  margin-top: 15px;
}

/* line 98, ../scss/base.scss */
.mt20 {
  margin-top: 20px;
}

/* line 99, ../scss/base.scss */
.mt30 {
  margin-top: 30px;
}

/* line 100, ../scss/base.scss */
.mt50 {
  margin-top: 50px;
}

/* line 101, ../scss/base.scss */
.mt100 {
  margin-top: 100px;
}

/* line 102, ../scss/base.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 103, ../scss/base.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 104, ../scss/base.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 105, ../scss/base.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 106, ../scss/base.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 107, ../scss/base.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 108, ../scss/base.scss */
.mb100 {
  margin-bottom: 100px;
}

/* line 109, ../scss/base.scss */
.ml5 {
  margin-left: 5px;
}

/* line 110, ../scss/base.scss */
.ml10 {
  margin-left: 10px;
}

/* line 111, ../scss/base.scss */
.ml15 {
  margin-left: 15px;
}

/* line 112, ../scss/base.scss */
.ml20 {
  margin-left: 20px;
}

/* line 113, ../scss/base.scss */
.ml30 {
  margin-left: 30px;
}

/* line 114, ../scss/base.scss */
.ml50 {
  margin-left: 50px;
}

/* line 115, ../scss/base.scss */
.ml100 {
  margin-left: 100px;
}

/* line 116, ../scss/base.scss */
.mr5 {
  margin-right: 5px;
}

/* line 117, ../scss/base.scss */
.mr10 {
  margin-right: 10px;
}

/* line 118, ../scss/base.scss */
.mr15 {
  margin-right: 15px;
}

/* line 119, ../scss/base.scss */
.mr20 {
  margin-right: 20px;
}

/* line 120, ../scss/base.scss */
.mr30 {
  margin-right: 30px;
}

/* line 121, ../scss/base.scss */
.mr50 {
  margin-right: 50px;
}

/* line 122, ../scss/base.scss */
.mr100 {
  margin-right: 100px;
}

/* line 123, ../scss/base.scss */
.p10 {
  padding: 10px;
}

/* line 124, ../scss/base.scss */
.p15 {
  padding: 15px;
}

/* line 125, ../scss/base.scss */
.p30 {
  padding: 30px;
}

/* line 126, ../scss/base.scss */
.pt5 {
  padding-top: 5px;
}

/* line 127, ../scss/base.scss */
.pt10 {
  padding-top: 10px;
}

/* line 128, ../scss/base.scss */
.pt15 {
  padding-top: 15px;
}

/* line 129, ../scss/base.scss */
.pt20 {
  padding-top: 20px;
}

/* line 130, ../scss/base.scss */
.pt30 {
  padding-top: 30px;
}

/* line 131, ../scss/base.scss */
.pt50 {
  padding-top: 50px;
}

/* line 132, ../scss/base.scss */
.pt100 {
  padding-top: 100px;
}

/* line 133, ../scss/base.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 134, ../scss/base.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 135, ../scss/base.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 136, ../scss/base.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 137, ../scss/base.scss */
.pb30 {
  padding-bottom: 30px;
}

/* line 138, ../scss/base.scss */
.pb50 {
  padding-bottom: 50px;
}

/* line 139, ../scss/base.scss */
.pb100 {
  padding-bottom: 100px;
}

/* line 140, ../scss/base.scss */
.pl5 {
  padding-left: 5px;
}

/* line 141, ../scss/base.scss */
.pl10 {
  padding-left: 10px;
}

/* line 142, ../scss/base.scss */
.pl15 {
  padding-left: 15px;
}

/* line 143, ../scss/base.scss */
.pl20 {
  padding-left: 20px;
}

/* line 144, ../scss/base.scss */
.pl30 {
  padding-left: 30px;
}

/* line 145, ../scss/base.scss */
.pl50 {
  padding-left: 50px;
}

/* line 146, ../scss/base.scss */
.pl100 {
  padding-left: 100px;
}

/* line 147, ../scss/base.scss */
.pr5 {
  padding-right: 5px;
}

/* line 148, ../scss/base.scss */
.pr10 {
  padding-right: 10px;
}

/* line 149, ../scss/base.scss */
.pr15 {
  padding-right: 15px;
}

/* line 150, ../scss/base.scss */
.pr20 {
  padding-right: 20px;
}

/* line 151, ../scss/base.scss */
.pr30 {
  padding-right: 30px;
}

/* line 152, ../scss/base.scss */
.pr50 {
  padding-right: 50px;
}

/* line 153, ../scss/base.scss */
.pr100 {
  padding-right: 100px;
}
