#traveller-index-header {
  margin-bottom: 40px; }
  #traveller-index-header #traveller-detail {
    margin-left: 22px; }
    #traveller-index-header #traveller-detail h1 {
      margin-bottom: 8px; }
    #traveller-index-header #traveller-detail p {
      line-height: 22px;
      color: #444; }

#map-wrapper {
  margin-top: 22px; }

.traveller-index-placelist {
  border-bottom: solid 1px #EAEAEA;
  height: 130px;
  overflow: hidden;
  position: relative; }
  .traveller-index-placelist .traveller-index-placelist-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1; }
  .traveller-index-placelist p {
    margin: 10px 0; }
  .traveller-index-placelist img {
    margin: 10px 20px 10px 0; }

.plan-wrapper {
  max-height: 100px;
  margin-top: 22px; }
  .plan-wrapper .plan {
    width: 580px;
    margin-left: 12px; }
    .plan-wrapper .plan .plan-header {
      line-height: 26px;
      height: 26px;
      width: 100%;
      padding: 4px; }
      .plan-wrapper .plan .plan-header h4 {
        font-size: 14px; }
    .plan-wrapper .plan .plan-content {
      padding: 8px 0 12px 4px;
      line-height: 1.62;
      margin-bottom: 22px; }

.article-wrapper {
  max-height: 160px;
  margin-top: 22px; }
  .article-wrapper .article {
    width: 580px;
    margin-left: 12px; }
    .article-wrapper .article .article-header {
      line-height: 26px;
      height: 26px;
      width: 100%;
      padding: 4px; }
      .article-wrapper .article .article-header h4 {
        font-size: 14px; }
      .article-wrapper .article .article-header .fr {
        color: #999; }
    .article-wrapper .article .article-content {
      padding: 8px 0 12px 4px;
      line-height: 1.62;
      margin-bottom: 32px; }
