/* line 1, ../scss/traveller_index.scss */
#traveller-index-header {
  margin-bottom: 40px;
}
/* line 4, ../scss/traveller_index.scss */
#traveller-index-header #traveller-detail {
  margin-left: 22px;
}
/* line 7, ../scss/traveller_index.scss */
#traveller-index-header #traveller-detail h1 {
  margin-bottom: 8px;
}
/* line 11, ../scss/traveller_index.scss */
#traveller-index-header #traveller-detail p {
  line-height: 22px;
  color: #444;
}

/* line 17, ../scss/traveller_index.scss */
#map-wrapper {
  margin-top: 22px;
}

/* line 21, ../scss/traveller_index.scss */
.traveller-index-placelist {
  border-bottom: solid 1px #EAEAEA;
  height: 130px;
  overflow: hidden;
  position: relative;
}
/* line 25, ../scss/traveller_index.scss */
.traveller-index-placelist .traveller-index-placelist-button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
}
/* line 28, ../scss/traveller_index.scss */
.traveller-index-placelist p {
  margin: 10px 0;
}
/* line 31, ../scss/traveller_index.scss */
.traveller-index-placelist img {
  margin: 10px 20px 10px 0;
}

/* line 36, ../scss/traveller_index.scss */
.plan-wrapper {
  max-height: 100px;
  margin-top: 22px;
}
/* line 39, ../scss/traveller_index.scss */
.plan-wrapper .plan {
  width: 580px;
  margin-left: 12px;
}
/* line 42, ../scss/traveller_index.scss */
.plan-wrapper .plan .plan-header {
  line-height: 26px;
  height: 26px;
  width: 100%;
  padding: 4px;
}
/* line 45, ../scss/traveller_index.scss */
.plan-wrapper .plan .plan-header h4 {
  font-size: 14px;
}
/* line 50, ../scss/traveller_index.scss */
.plan-wrapper .plan .plan-content {
  padding: 8px 0 12px 4px;
  line-height: 1.62;
  margin-bottom: 22px;
}

/* line 56, ../scss/traveller_index.scss */
.article-wrapper {
  max-height: 160px;
  margin-top: 22px;
}
/* line 59, ../scss/traveller_index.scss */
.article-wrapper .article {
  width: 580px;
  margin-left: 12px;
}
/* line 62, ../scss/traveller_index.scss */
.article-wrapper .article .article-header {
  line-height: 26px;
  height: 26px;
  width: 100%;
  padding: 4px;
}
/* line 65, ../scss/traveller_index.scss */
.article-wrapper .article .article-header h4 {
  font-size: 14px;
}
/* line 69, ../scss/traveller_index.scss */
.article-wrapper .article .article-header .fr {
  color: #999;
}
/* line 74, ../scss/traveller_index.scss */
.article-wrapper .article .article-content {
  padding: 8px 0 12px 4px;
  line-height: 1.62;
  margin-bottom: 32px;
}
