@charset "utf-8";

h1{
    color: #444;font-size: 18px;font-family: "Microsoft Yahei";
}

h2{
    color: #072;font-size: 16px;font-family: "Microsoft Yahei";margin-bottom: 20px;
}

h3{
    color: #072;font-size: 16px;font-family: "Microsoft Yahei";
}

a{
    color: #369;cursor: pointer;
}
input,button,select,textarea{outline:none;}

//向下箭头
.arrow{
  width: 6px;height: 3px;display: inline-block;margin-left: 5px;margin-bottom: 2px;
  background: url('../images/arrow.png') no-repeat center;
}

/*表单样式*/ 
#info-form{
    background-color:#F7F7F7;
    p{
        font-size: 12px;color: #999;padding: 10px;
    }
    .lab{
        padding:10px;border-bottom: solid 1px #EAEAEA;margin-bottom:10px;height:40px;
    }
    input{
        font-size: 12px;
        border:none;
        &:-webkit-autofill {
            box-shadow:0 0 0px 1000px #EAEAEA inset;
        }
    }
    textarea{
        background:#EAEAEA;margin:10px 10px;border:none;
    }
    input[type=text],input[type=password]{
        width:200px;height: 30px;background:#EAEAEA;margin:10px 10px;padding:0 10px;border-radius:4px;
    }
    input[type=submit],input[type=file]{
        margin:20px 10px;
    }
    input[type=text]:focus,input[type=password]:focus,textarea:focus{
        box-shadow:0 0 2px 1px #358227;
        &:-webkit-autofill {
            box-shadow:0 0 0px 1000px #EAEAEA inset;
        }
    }
    ul{
        display: inline;margin:10px 10px;
    }
    ul.errorlist{
        color: red;font-size: 12px;
    }
    li{
        display: inline;
    }
}
.play,.route{
    margin-bottom: 5px;margin-top: 5px;
}

/*照片样式*/
.photo-wrapper{
    width: 100px;height: 100px;position: relative;padding: 5px;text-align: center;background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
    .photo-del{
        position: absolute;top: 0;right: 0;width: 18px;height: 18px;background: url("../images/photo-del.png") 0 0 no-repeat;
    }
    .photo-del:hover{
        background: url("../images/photo-del.png") -18px 0 no-repeat;
    }
    .photo-image{
        width: 100px;height: 100px;
    }
        .photo-image img{
            width: 100px;height: 100px;
        }
/*小照片*/
.photo-image-small{
    width: 50px;height: 50px;
}
    .photo-image-small img{
        width: 50px;height: 50px;
    }

/*选项卡样式*/
.tabs{
    margin-top: 5px;margin-bottom:5px;padding-left: 5px;padding-top:5px;height: 20px;background: #f2fbf2;
}
    .tabs li{
        display: inline;font-size: 14px;padding: 5px;margin-right: 12px;
    }
    .tabs a{
        color:#072;
    }
        .tabs a:hover{
            background: #072;color: #fff;
        }
            .tabs .on{
                background: #072;color: #fff;
            }

/*头像样式*/
.portrait{
    width: 48px;height: 48px;display: inline;
}
    .portrait img{
        width: 48px;height: 48px;
    }

/*按钮样式*/
.btn{
    background: #358227;padding: 6px 24px;cursor: pointer;color: #cfe6cd;font-size: 16px;font-family: "Microsoft Yahei";
    text-align: center;border: 1px solid #276b1a;border-bottom: #2e7620;border-top: #1f5e13;
    text-shadow:0 1px 1px rgba(0,0,0,0.7);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.7);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.7);
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255,255,255,0.3) inset;
    -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255,255,255,0.3) inset;
    -moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255,255,255,0.3) inset;
    border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; 
}
.btn:active{
    background: #286d1a;
}

.btn1{
    background: #fdf1ed;padding: 4px 14px;color: #b3705b;cursor: pointer;border: 1px solid #e8b5a5;
    border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px; 
}

.btn2{
  background: #dbf1dc;padding: 1px 8px;color: #377439;cursor: pointer;border: 1px solid #83b284;
  border-radius: 1px;-webkit-border-radius: 1px;-moz-border-radius: 1px; 

  &:active{
    background: #91b893;
  }
}

/*地图样式*/
#map-canvas{
    height: 300px;
}
#map-controller{
    margin-top: 5px;height: 28px;z-index: 1;position: relative;
}
    #map-prev,#map-next,#map-home{
        text-align: center;width: 210px;height: 28px;
    }
    #map-prev{
        background: #358227 url("../images/map-prev.png") no-repeat center ;
    }
    #map-prev:hover{
        background: rgba(54, 143, 38, 0.58) url("../images/map-prev.png") no-repeat center ;
    }
    #map-next{
        background: #358227 url("../images/map-next.png") no-repeat center ;
    }
    #map-next:hover{
        background: rgba(54, 143, 38, 0.58) url("../images/map-next.png") no-repeat center ;
    }
    #map-home{
        background: #358227 url("../images/map-home.png") no-repeat center ;margin-left: 5px;
    }
    #map-home:hover{
        background: rgba(54, 143, 38, 0.58) url("../images/map-home.png") no-repeat center ;
    }

/*面包屑样式*/
.crumb{
    margin-left: -12px;

    .divider{
        margin-left: 12px;margin-right: 14px;color: #999;
    }

    li{
        position: relative;padding-left: 12px;padding-right: 20px;

        .crumb-li-hover{
            position: absolute;width: 100%;height: 34px;background: #fff;top: -10px;z-index: 6;
            box-shadow:-1px 0 1px -1px #aaa,0 -1px 1px -1px #aaa,1px 0 1px -1px #aaa;
            -webkit-box-shadow:-1px 0 1px -1px #aaa,0 -1px 1px -1px #aaa,1px 0 1px -1px #aaa;
            -moz-box-shadow:-1px 0 1px -1px #aaa,0 -1px 1px -1px #aaa,1px 0 1px -1px #aaa;
        }

        a{
            position:relative;color: #369;z-index:7;
        }

        .crumb-li-subnav{
            position: absolute;width:412px;background: #fff;top: 24px;z-index:5;max-height:261px;overflow-y:auto;
            box-shadow:0 0 1px #aaa;-webkit-box-shadow:0 0 1px #aaa;-moz-box-shadow:0 0 1px #aaa; 

            li{
                margin: 2px;display: block;cursor: pointer;height: 28px;line-height: 28px;overflow: hidden;
                float: left;width:161px;

                a{
                    color: #787a78;
                }

                &:hover{
                    background: #e9e9e9;
                }

            }
        }
    }
}

//slide
.slide-prompt{
  li{
    display: inline-block;width: 25px;height: 5px;background: #c0cdc0;margin-right: 2px;

    &.current{
      background: #828282;
    }
  }
}

.slide{
  margin-bottom: 50px;height: 148px;

  .slide-prev{
    float: left;width: 25px;height: 47px;margin-top: 50px;cursor: pointer;
    background: url("../images/slide-prev-on.png") no-repeat center;

    &.off{
      background: url("../images/slide-prev-off.png") no-repeat center;
    }
  }

  .slide-next{
    float: right;width: 25px;height: 47px;margin-top: 50px;cursor: pointer;
    background:  url("../images/slide-next-on.png") no-repeat center;

    &.off{
      background: url("../images/slide-next-off.png") no-repeat center;
    }
  }

  .slide-main{
      width: 512px;margin:0 auto;height: 100%;position: relative;overflow: hidden;

    .slide-ul-wrapper{
      display: inline-block;position: absolute;width: 5000px;left: 0px;height: 100%;

      ul{
        display: inline-block;height: 100%;

        li{
          display: inline-block;cursor: pointer;position: relative;height: 100%;width: 125px;

          a{
            display: block;text-align: center;margin-left: 12px;margin-right: 12px;width: 100px;

            img{
              height: 100px;display: block;margin-top: 24px;
            }
          }

          .slide-popup{
            width: 216px;height: 106px;position: absolute;background: rgba(252,252,252,0.9);left: 120px;top: 10px;z-index: 100;padding: 12px;
            box-shadow:0 1px 3px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
               

            .slide-popup-left{
              width: 6px;height: 18px;background: url("../images/slide-popup-left.png") no-repeat center;
              position: absolute;left: -6px;top: 32px;
            }

            h6{
              color: #369;font-size: 14px;margin-bottom: 7px;
            }

            p{
              color: #787a78;line-height: 19px;

              &.last{
                margin-top:5px;
              }
            }

            &.slide-popup-toLeft{
              left: -240px;

              .slide-popup-left{
                background: url("../images/slide-popup-right.png") no-repeat center;left: 240px;
              }
            }
          }
        }
      }
    }
  }
}


/*交通方式*/
.transportation0{
    width: 64px;height: 50px;background: url("../images/transportation-icons.png") -278px 0 no-repeat; 
}
.transportation1{
    width: 64px;height: 50px;background: url("../images/transportation-icons.png") -276px -74px no-repeat; 
}
.transportation2{
    width: 64px;height: 50px;background: url("../images/transportation-icons.png") -140px 0 no-repeat; 
}
.transportation3{
    width: 64px;height: 50px;background: url("../images/transportation-icons.png") 0 0 no-repeat; 
}
.transportation4{
    width: 64px;height: 50px;background: url("../images/transportation-icons.png") -334px 0 no-repeat; 
}
.transportation5{
    width: 64px;height: 50px;background: url("../images/transportation-icons.png") -70px -74px no-repeat; 
}
.transportation6{
    width: 64px;height: 50px;background: url("../images/transportation-icons.png") -208px -74px no-repeat; 
}
.transportation7{
    width: 64px;height: 50px;background: url("../images/transportation-icons.png") -338px -74px no-repeat; 
}
.transportation7:hover{
    background: url("../images/transportation-icons.png") -390px -74px no-repeat; 
}


       
//star
.stars{
    width: 75px;height: 14px; position: relative;top: 2px;display: inline-block;

    .stars-off{
        background: url("../images/stars-off.png") no-repeat center;width: 100%;height: 100%;display: inline-block;
        position: absolute;
    }

    .stars-on{
        background: url("../images/stars-on.png") no-repeat ;width: 0% ;height: 100%;display: inline-block;
        position: absolute;
    }
}

.star-avg{
    margin-left: 12px;color: red;font-size: 14px;
}

.rating-wrapper{
    position: relative;

    

    p{
        line-height: 18px;
    }

    

    .people-num{
        color: #369;padding: 0 6px;line-height: 32px;
    }

    .small-stars{
        width: 45px;height: 9px; position: relative;top: 2px;display: inline-block;

        .small-stars-off{
            background: url("../images/small-stars-off.png") no-repeat center;width: 100%;height: 100%;display: inline-block;
            position: absolute;
        }

        .small-stars-on{
            background: url("../images/small-stars-on.png") no-repeat ;width: 30%;height: 100%;display: inline-block;
            position: absolute;
        }
    }

    .power{
        height: 14px;display: inline-block;background: #f5cbad;position: relative;top:4px;
    }

    .power-num{
        position: relative;top:2px;
    }

}

